@import url('https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Chewy&display=swap');

body {
    margin-top: 0 !important;
    padding-top: 0 !important;
    font-family: 'DM Sans', sans-serif;
}

.mt-5 {
    margin-top: 6rem;
}

.navbar {
    position: fixed;
    top: 0;
    text-align: center;
    width: 100vw;
    height: 5rem;
    min-height: 5rem !important;
    padding: 0 10px;
    border: 0 !important;
    background-color: #fff;
    box-shadow: 0 0 1.8rem rgba(0, 0, 0, .15);
}

.nav {
    padding-top: 2px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav a:hover {
    text-decoration: none;
}

#brand {
    font-size: 3rem;
    font-family: 'Chewy', cursive;
    letter-spacing: 1px;
}

.nav-item {
    color: #83818c;
    padding: 6px 20px;
    text-decoration: none;
    transition: .3s;
    margin: 0 6px;
    z-index: 1;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    position: relative;
}

.nav-item:before {
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #dfe2ea;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: .3s;
}

.nav-item:not(.is-active):hover:before {
    opacity: 1;
    bottom: 0;
}

.nav-item:not(.is-active):hover {
    color: #333;
}

.nav-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    transition: .4s;
    height: 5px;
    z-index: 1;
    border-radius: 8px 8px 0 0;
}

.navbar-right {
    margin-right: 0 !important;
}

.container-fluid {
    margin-top: 6%;
    margin-left: 2%;
    margin-right: 2%;
}

blockquote {
    border-left: 0 !important;
}

blockquote footer {
    color: orange;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-gap: 20px;
    grid-auto-rows: auto;
}

.img-thumbnail {
    cursor: pointer !important;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 10px;
    padding-bottom: 24px;
    align-self: start;
}

.mod-img {
    width: 100%;
    padding-bottom: 0;
    height: 100%;
    margin: 0% !important;
}

.modal-body {
    padding: 0;
}

.modal-title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4;
}

p {
    text-align: center;
}

#img-desc {
    font-size: 1.7rem;
    font-weight: 900;
    margin-top: 2%;
}

.details-content {
    padding: 1.6rem;
    position: relative;
}

.details-content a {
    text-decoration: none;
    color: white;
}

.details-content a:hover {
    color: white;
}

.img-share {
    float: right;
    position: relative;
    margin-top: -42px;
}

.share-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    background-color: orange;
    transition: all 0.3s ease;
    outline: 0;
    z-index: 2;
    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.12),
        0 2px 4px rgba(0, 0, 0, 0.24);
}

.share-icon:hover,
.share-icon:focus {
    box-shadow:
        0 3px 6px rgba(0, 0, 0, 0.12),
        0 3px 6px rgba(0, 0, 0, 0.24);

    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.details-meta time {
    font-size: 1rem;
    color: #767676;
    margin-left: 0.8rem;
}

.badge {
    font-size: 1rem;
    background-color: orange;
    margin-bottom: 1%;
}

.footer {
    position: static;
    bottom: 0px;
    margin-top: 3%;
    margin-bottom: 2%;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0 !important;
    }
}

@media (max-width: 767px) {
    .navbar {
        height: 7rem !important;
    }

    #brand {
        font-size: 4rem;
    }
}