@import url('https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap');

* {
    box-sizing: border-box;
}

body .navbar {
    text-align: center;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/debut_light.png");
}

.nav {
    display: inline-flex;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    background-color: #fff;
    padding: 0 20px;
    border-radius: 40px;
    box-shadow: 0 10px 40px rgba(159, 162, 177, .8);
}

.nav-item {
    color: #83818c;
    padding: 20px;
    text-decoration: none;
    transition: .3s;
    margin: 0 6px;
    z-index: 1;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    position: relative;
}

.nav-item:before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #dfe2ea;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: .3s;
}

.nav-item:not(.is-active):hover:before {
    opacity: 1;
    bottom: 0;
}

.nav-item:not(.is-active):hover {
    color: #333;
}

.nav-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    transition: .4s;
    height: 5px;
    z-index: 1;
    border-radius: 8px 8px 0 0;
}

#imageModal .modal-body {
    background-color: black;
}

.modal-dialog {
    max-width: 690px;
}

.close {
    font-size: em(20);
    color: #000;
    opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.modal-subtitle {
    font-family: 'DM Sans', sans-serif;
    color: #026ecc;
    font-size: em(14);
    font-weight: 700;
}

.modal-title {
    font-size: em(30);
    font-weight: 600;
    line-height: 1.4;
}

.modal-title span {
    font-weight: 800;
}

.modal-text {
    font-size: em(12);
    font-weight: 600;
    line-height: 2;
}

#imageModal img {
    width: 100%;
    max-height: 405px;
}

@media screen and (max-width: 690px) {
    img {
        height: 100%;
    }
}

@media (max-width: 580px) {
    .nav {
        overflow: auto;
    }
}

@media screen and (max-width: 575px) {
    .col-lg-6 {
        padding-left: 0;
    }
}

@media screen and (max-width: 370px) {
    #eval-modal .modal-body {
        max-height: 100%;
    }

    .wrap {
        padding-bottom: 0rem !important;
    }

    .modal-container {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        padding-bottom: 1.5rem !important;
    }

    .btn {
        font-size: em(8);
    }

    .form-control {
        line-height: 1;
    }
}