{% load bootstrap3 %}
{% load static%}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {% if title %}
  <title>Picturesque - {{title}}</title>
  {% else %}
  <title> Picturesque </title>
  {% endif %}

  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/card.css' %}">
  {% endblock %}
</head>

<body>
  {% include "navbar.html" %}
  <!-- Modal -->
  <div class="modal fade" id="imageModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="img-name"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img style="width: 100%; height: 100%;" alt="" class="mod-img">
                <p>About image</p>
                <p id="img-desc"></p>
                <p id="img-loc"></p>
                <p id="img-cat"></p>
            </div>
            <div class="modal-footer">
                <input name="" id="copy-url"style="position:relative;left:15000px">
                <button type="button" class="btn btn-outline-info btn-sm" onclick="copy()">Copy Url</button>
                <button type="button" class="btn btn-outline-info btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>
  {% block content %}
  {%endblock%}
  
  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %}
  <script src=" {% static 'js/base.js' %}"></script>
  {% endblock %}
</body>

</html>