{% load bootstrap3 %}
{% load static%}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {% if title %}
  <title>Picturesque - {{title}}</title>
  {% else %}
  <title> Picturesque </title>
  {% endif %}

  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}
</head>

<body>
  {% include "navbar.html" %}
  <!-- Modal -->
  <div class="modal fade" id="imageModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="mod-title" id="img-name"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="position: relative;" class="text-centre">
          <img alt="" class="mod-img">
          <div class="details-content">
            <div class="img-share" onclick="copy()">
              <a id="share" class="share-icon" href="#"><i class="fas fa-share-alt"></i></a>
            </div>

            <div class="details-meta">
                <a href="#" id="img-loc"></a>
                <time id="img-pos"></time>
            </div>
            <span id="img-cat" class="badge badge-secondary">Secondary</span>
          </div>
          <p id="img-desc"></p>
        </div>
      </div>
    </div>
  </div>
  {% block content %}
  {%endblock%}

  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %}
  <script src=" {% static 'js/base.js' %}"></script>
  {% endblock %}
</body>

</html>