{% load bootstrap3 %}
{% load static%}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {% if title %}
  <title>Picturesque | {{title}}</title>
  {% else %}
  <title> Picturesque </title>
  {% endif %}

  {% block styles %}
  {% bootstrap_css %}
  <link rel="shortcut icon" href="{% static 'favicon.ico'%}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}
</head>

<body>
  {% include "navbar.html" %}
  <!-- Modal -->
  <div class="modal fade" id="imageModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title" id="img-name"></h5>
        </div>
        <div class="modal-body" style="position: relative;" class="text-centre">
          <a id="img-link" style="cursor: zoom-in;"><img alt="image" class="mod-img"></a>
          <div class="details-content">
            <div class="img-share" onclick="share()">
              <a id="share" class="share-icon"><i class="fas fa-share-alt"></i></a>
            </div>
            <a id="img-cat" class="badge badge-secondary"></a>
            <div class="details-meta">
              <i class="fas fa-map-marker-alt"></i>&nbsp;<a id="img-loc" style="color: #333;"></a>
              <time id="img-pos"></time>
            </div>
          </div>
          <p id="img-desc"></p>
          <input name="" id="copy-url"style="position:relative;left:15000px; height: 1px;">
        </div>
      </div>
    </div>
  </div>
  {% block content %}
  {%endblock%}

  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %}
  <script src=" {% static 'js/base.js' %}"></script>
  {% endblock %}
</body>

</html>