<div class="card__content card__padding">
    <div class="card__share">
      <div class="card__social"></div>
      <a id="share" class="share-toggle share-icon" href="#"></a>
    </div>

    <div class="card__meta">
      <div class="flex" style="float: right; align-self: end;">
        <p id="img-loc" style="margin: 1%;">Location:</p>
        <a href="#">Web Design</a>
        <time>17th March</time>
      </div>
      <p id="img-desc"></p>
    </div>
    <div class="modal-footer">
      <input name="" id="copy-url" style="position:relative;left:15000px">
      <button type="button" class="btn btn-outline-info btn-sm" onclick="copy()">Copy Url</button>
      <button type="button" class="btn btn-outline-info btn-sm" data-dismiss="modal">Close</button>
    </div>
  </div>