{%extends 'base.html'%}
{% block content %}
<div class="container-fluid mt-5">
  <div class="content">
    <div>
      {% for image in first %}
      <img
        onclick="showModal('{{image.id}}','{{image.name}}','{{image.description}}','{{image.photo.url}}','{{image.location}}','{{image.category}}', '{{image.post_date}}') "
        class="image img-thumbnail" id={{image.name}} src="{{image.photo.url}}">
      {%endfor%}
    </div>
    <div>
      {% for image in second %}
      <img
        onclick="showModal('{{image.id}}','{{image.name}}','{{image.description}}','{{image.photo.url}}','{{image.location}}','{{image.category}}')"
        class="image img-thumbnail" id={{image.name}} src="{{image.photo.url}}">
      {%endfor%}
    </div>
    <div>
      {% for image in third %}
      <img
        onclick="showModal('{{image.id}}','{{image.name}}','{{image.description}}','{{image.photo.url}}','{{image.location}}','{{image.category}}')"
        class="image img-thumbnail" id={{image.name}} src="{{image.photo.url}}">
      {%endfor%}
    </div>
  </div>
</div>
{% endblock %}