{%extends 'base.html'%}
{% load static %}
{% block content %}
<div class="container-fluid mt-5">
  <div class="text-center" style="margin-top: 1%; margin-bottom: 1%;">
    <blockquote class="blockquote text-center">
      <p class="mb-0">It's the little things that matter.</p>
      <footer class="blockquote-footer"><em>Lorna Kamau</em></footer>
    </blockquote>
  </div>
  <div>
  <div class="content">
    <div>
      {% for image in first %}
      <img
        onclick="showModal('{{image.id}}','{{image.name}}','{{image.description}}','{{image.photo.url}}','{{image.location}}','{{image.location.id}}','{{image.category}}', '{{image.category.id}}', '{{image.post_date}}') "
        class="image img-thumbnail" id={{image.name}} src="{{image.photo.url}}">
      {%endfor%}
    </div>
    <div>
      {% for image in second %}
      <img
        onclick="showModal('{{image.id}}','{{image.name}}','{{image.description}}','{{image.photo.url}}','{{image.location}}','{{image.location.id}}','{{image.category}}')"
        class="image img-thumbnail" id={{image.name}} src="{{image.photo.url}}">
      {%endfor%}
    </div>
    <div>
      {% for image in third %}
      <img
        onclick="showModal('{{image.id}}','{{image.name}}','{{image.description}}','{{image.photo.url}}','{{image.location}}','{{image.location.id}}','{{image.category}}')"
        class="image img-thumbnail" id={{image.name}} src="{{image.photo.url}}">
      {%endfor%}
    </div>
  </div>
  </div>
</div>
<div class="footer text-center">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 col-sm-6">
      {% if locations %}
      <h3>Locations</h3>
      {% for location in locations %}
      <a href="/location/{{location.id}}" class="badge badge-secondary" style="margin-left: 1%;"><i
          class="fas fa-map-marker-alt"></i>&nbsp;{{location.name}}</a>
      {% endfor %}
      {% endif %}
    </div>
    <div class="col-md-5 col-sm-6">
      {% if categories %}
      <h3>Categories</h3>
      {% for category in categories %}
      <a href="/category/{{category.id}}" class="badge badge-secondary"
        style="margin-left: 1%;">#{{category.name}}</a>
      {% endfor %}
      {% endif %}
    </div>
    <div class="col-md-1"></div>
  </div>
  <img src="{% static 'images/logo.png' %}" alt="logo" style="width:32px; padding-bottom: 0 !important;">
  <p>A photograph is a memory that lasts a lifetime</p>
  <p>© 2020 Copyright: <a href="https://github.com/lornakamau" target="_blank">Lorna Kamau</a></p>
</div>
{% endblock %}