{%extends 'home.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if images%}
      <h2>Found {{ images|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 images for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if images %}
  {% for image in images %}
  <img src="{{image.photo.url}}" alt="image" data-toggle="modal" data-target="#imageModal">
  {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}